/* 
    Created on : 14/07/2016, 21:32:57
    Author     : thiago
*/

@font-face{
    font-family: Asap;
    src: url(../fonts/Asap-Regular.ttf);    
}

body{
    /*background-color: #FFF;*/
    background: url("../img/swirl_pattern.png");
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Asap;
}

header{
    color: #FFFFFF;
    background: url("../img/header.png") repeat-y;
    /*opacity: 0.7;*/
    position: relative;    
    min-height: 100%;    
}

header h1{
    font-size: 80px;
}

header #logo{
    margin: 6% auto 5%;
}

header p{
    font-size: 1.4em;
}

header b{
    color:  #F24E4E;
}

header #foto{
    margin: 1% auto 2%;
    width: 210px;
    height: 210px;    
}

/************* Menu topo *************/
.navbar{
    /*background: transparent;*/
    /*opacity: 0.9;*/
    /*background: #043B50;*/
    background: #333;
    min-height: 80px;
    border: none;
}

.navbar-inverse .navbar-nav > li > a{
    margin: 5px;
    line-height: 40px;
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover{
    /*background-color: #F24E4E;*/
    /*background: url("../img/bgMenu.png") repeat-x;*/
    color: #F24E4E;  
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

#brand{
    margin-top: 4.3%;
}

#imgBrand{    
    height: 34px;
    width: 200px;
}


@media screen and (max-width: 640px) {

    .navbar{
        /*background: transparent;*/
        /*opacity: 0.9;*/
        /*background: #043B50;*/
        background: #333;
        min-height: 40px;
        border: none;
    }

    #brand{
        margin-top: -3px;
    }

    #imgBrand{    
        height: 30px;
        width: 160px;
        color: #F24E4E;  
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
    }
}

/************* Menu topo *************/



/************* Menu principal *************/
#menu > ul{
    margin: 5px auto;
    list-style: none;    
}

#menu > ul > li{
    display: inline;    
}

#menu > ul > li > a{
    line-height: 40px;
    padding:10px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1em;
}

#menu > ul > li > a:hover{
    background-color:  #F24E4E;
    /*background: url("../img/bgMenu.png") repeat-x;*/
    border-radius: 2px;
    color: #FFFFFF; 
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}

.navbar-default{
    background: transparent;
    border: none;
}

.navbar-default > ul > li > a{
    color: #FFF;
}

#menu > ul > li > a:visited{    
    color: #FFFFFF; 
}
/************* Menu principal *************/

/*.navbar-nav > li{
    float: left;    
}*/

.invisible{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
}


#icons{    
    padding-bottom: 2%;
    border-bottom: 1px dashed #FFFFFF;
}

section{
    background-color: #000;
    opacity: 0.8;
    height: 100%;
    position: relative;
}

footer{
    background-color: #043B50;
    height: 40%;
}

@media screen and (min-height: 768px) {
    header p{
        font-size: 2em;
    }
}

/*
@media screen and (max-width: 640px){
    .navbar-nav{
        float: none;
        font-size: 0.89em;
    }
}*/


